@font-face {
  font-family: 'Fresca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/6ae94K--SKgCzbM2Gg.ttf) format('truetype');
}
@font-face {
  font-family: 'Kosugi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/pxiFyp4_v8FCjlI4NA.ttf) format('truetype');
}
@font-face {
  font-family: 'Reddit Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/m8J_jepOc6WYkkm2Dey9A5QGAQXmuL3va5IfZsq2gyKtWVJro1kKUpU.ttf) format('truetype');
}
@font-face {
  font-family: 'Reddit Sans Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/m8J_jepOc6WYkkm2Dey9A5QGAQXmuL3va5IfZsq2gyKtWVJro2sKUpU.ttf) format('truetype');
}
@font-face {
  font-family: 'Reddit Sans Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/m8J_jepOc6WYkkm2Dey9A5QGAQXmuL3va5IfZsq2gyKtWVJro4cNUpU.ttf) format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/0QInMXVJ-o-oRn_7dron8YWO8w.ttf) format('truetype');
}
@font-face {
  font-family: 'Protest Revolution';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/11hcGofZ0kXBbxQXFB7MJsjtqnVw6Z2s8A.ttf) format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/0QInMXVJ-o-oRn_7dron8YWO8w.ttf) format('truetype');
}
@font-face {
  font-family: 'Protest Revolution';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/11hcGofZ0kXBbxQXFB7MJsjtqnVw6Z2s8A.ttf) format('truetype');
}
